.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15;
    overflow: hidden;
    
    &__content {
        height: 100%;
        width: 100%;
        // "object-fit" will fit the content in the container with keeping it's aspect ratio and by clipping the overflow
        object-fit: cover;
    }
}